body{
    background-color: rgb(249, 128, 168);
    margin: 0;
    padding: 0;
}

main{
    margin: 10px;
    height: 100vh;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
    margin: 10px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: black;
    float: right;
    margin: 10px;
}

.ara{
    clear: both;
}
