*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(234, 230, 230);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 50px;
}

.box{
    display: flex;
    gap: 40px;
}

.box img{
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 20px;
}

.box .title{
    transform:rotate(90deg);
    transform-origin:left top;
}

.box .name {
    margin-top: 30px;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 40px;
}

.box-2, .box-5{
    margin-top: 70px;

}

@media (max-width:1080px){
    header{
        display: inline-block;
    }

    .container{
        grid-template-columns: 1fr 1fr;
    }
}