*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}

.row-img{
    width: 100%;
    height: 35vh;
    display: flex;
    border: 2px solid white;
}

.col-12-img{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.col-12{
    width: 100%;
    height: 15vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.col-9{
    width: 75%;
    height: 35vh;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.col-3{
    width: 25%;
    height: 35vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;

}