*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.box {
    width: 300px;
    height: 300px;
    background: #71f703e8;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}

@keyframes anima{
    0% {transform: translate(0,0);}
    25%{transform: translate(200px,-200px);}
    50% {transform: translate(0,-200px);}
    75% {transform: translate(200px,0);} 
    100%{transform: translate(0);} 
}

.box-anima{
    background-color: pink;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    animation: anima 3s infinite;
    animation-timing-function: step-start; /* bu arada sürünerek gidiyor gibi olmasini önledi*/
   

}