*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}
.box{
    height: 300px;
    width: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
}

.box1{
    background-color: aqua;
    color: white;
    text-shadow: 0 2px 3px gray;
}

.box2{
    background-color: rgb(44, 43, 43);
    color: black;
    text-shadow: 2px 2px 2px gray;
}

.box3{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: 4px 3px rgb(228, 214, 214);
}

.box4{
    background-color: bisque;
    color: white;
    text-shadow: 0 6px gray;
}

.box5{
    background-color: olive;
    color: rgb(53, 53, 53);
    text-shadow: 0 -3px 2px white;
}

.box6{
    background-color: aquamarine;
    color: white;
    text-shadow: -3px 2px 1px rgb(198, 198, 198), 
    -5px 4px 1px rgb(162, 159, 159), -8px 6px 1px rgb(105, 104, 104) ;
}