*{
    margin: 0;
}

.container{

    background-color: black;
    width: 50%;
    height: 500px;
    margin:50px 0 0 150px;
}

.gorunur{
    position: relative;
}
.ok_icon{
    font-size: 1.5rem;

    width: 100%;
    height: 60px;
    background-color: rgb(160, 123, 55);
}
.menu-liste{
    background-color: orange;
    width: 10%;;
    height: 500px;
}
ul{
list-style-type: none;
margin-top: 10px;
height: 400px;
display: none;
}

h3{
display: none;
position: relative;
top:10px;

}
i.fa-chevron-left{
display: none;
 text-align: end;
 font-size:30px;
 font-weight: 600;
}

i.fa-chevron-right{
margin-top:10px;
 font-size:30px;
 font-weight: 600;
}

.menu-liste:hover ul{
display: block;

}

.menu-liste:hover h3{
text-align: center;
   display: block; 

}
.menu-liste:hover i.fa-chevron-left{
display: block;
margin-top:-20px;
}
.menu-liste:hover i.fa-chevron-right{

  display: none;  
}

.menu-liste:hover{
   
    width: 90%;
}