:root {
  --cl-yellow: #f6bd60ff;
  --cl-linen: #f7ede2ff;
  --cl-rose: #f5cac3ff;
  --cl-blue: #84a59dff;
  --cl-coral: #f28482ff;
  --cl-charcoal: #264653ff;
  --cl-green: #2a9d8fff;
  --cl-saffron: #e9c46aff;
  --cl-brown: #f4a261ff;
  --cl-sienna: #e76f51ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100%;
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(4, 300px);
    grid-template-rows:100px 400px 200px 100px;
    gap: 20px 20px;
}

.header {
  background-color: var(--cl-coral);
  grid-column-start: 1;
  grid-column-end: 5;
}

.box1 {
  background-color: var(--cl-blue);
   /* grid-column-start: 1;
  grid-column-end: 2; */

  grid-column: 1 / 2; /*bu sekilde kisaca yazabiliriz*/
}

.box2 {
  background-color: var(--cl-linen);
  grid-column: 2 / 3; /*bu sekilde kisaca yazabiliriz*/
}

.box3 {
  background-color: var(--cl-yellow);
  grid-column: 3 / 4; /*bu sekilde kisaca yazabiliriz*/
}

.sidebar {
  background-color: var(--cl-rose);
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;

}
.content {
  background-color: var(--cl-sienna);
  grid-column-start: 1;
  grid-column-end: 4;
}
.footer {
  background-color: var(--cl-green);
  grid-column-start: 1;
  grid-column-end: 5;
}

