*{
    margin: 0;
    padding: 0;
}

.container{
    width: 50%;
    height: 100%;
    background-color: black;
    border: 5px solid gray;
}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}

.circle{
    background-color: gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: black;
    font-size: large;
    
}