*{
    margin: 0;
    padding: 0;
}

.container{
    width: 508px;
    height: 824px;
    background-color: black;
    border: 5px solid gray;
    border-radius: 5%;

    display: flex;
    justify-content: center;
    align-items: end;

}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-block-end: 40px;
    gap: 7px;
}

.circle{
    background-color: gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: black;
    font-size:xx-large;
    cursor: pointer;
    color: white;
}

.circle:hover{
    opacity: 0.5;
}

.button-num0{
    grid-column: 1/3;
    grid-row: 5/6;
    border-radius: 55px;
    height: 100px;
    width: 200px;
    max-width: 200px;
    text-align: start;
    padding-inline-start: 30px;
}

.button-AC,
.button-artieksi,
.button-yüzde {
    background-color: rgb(202, 200, 200);
    color: black;

}


.button-bölme, .button-carpi, 
.button-eksi, .button-arti{
    background-color: orange;
}
