main{
    border: 1px solid #ddd;
    padding: 16px;
    max-width: 500px;
    box-sizing: border-box; 
}

table{
    width: 100%;
}
table tr:nth-child(even){
    background-color: rgb(218, 213, 213);
}

table td:nth-child(3){
    text-align: center;
}

table td:nth-child(4){
    text-align: right;
}

table td:nth-child(5){
    text-align: right;
}

#son-satir{
    background-color: gray;
    color: white;
    text-align: right;
    
}

#baslik{
    background-color: gray;
    color: white;
}

.icon{
  display: flex;
  gap: 20px; /* ikonlar arası boşluk */
  padding-left: 10px;
  padding-right: 10px;

}

.btn {
  display: flex; 
  justify-content: flex-end;
  gap: 10px; /* butonlar arası boşluk */
  margin-top: 20px; /* üstten boşluk */
}

.btn button{
    color: white;
    background-color: rgba(249, 111, 111, 0.837);
    padding: 10px;
    display: flex;               /* ikon + metin hizası */
  align-items: center;
  gap: 10px;
   
    
}