.genel{
    display: flex;
    justify-content: center;
}
.genel .div1{
    background-color: #BCCBDC;
    flex-grow: 1;
    border: 2px solid black;
 
}

.img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;   
}

.div3{
    background-color: blueviolet;
    border: 2px solid black;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
   
}

i.fa-twitter, i.fa-square-instagram, i.fa-facebook{
    font-size: 20px;
}

.div4{
    background-color:pink;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border-radius: 12px;
}

.div4 ul{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    gap: 10px;
}

